body {
    padding: 0;
    margin: 0;    
}

nav {
    font-family: Helvetica, Arial, Verdana;
    width: 100%;
    display: flex;
    position: fixed;
    background-color: #eef2f3;
    z-index: 99;
}

nav a {
    color: #000;
    margin: auto 20px auto 40px;    
    font-weight: bold;
}

nav li {
    float: left;
    list-style: none;
    margin-left: auto 10px;
}

nav li:hover {
    color: #6610f2;
    text-decoration: underline;
    cursor: pointer;    
}

ul li {
    list-style-type: none;
    padding: 10px;
    border-right: 1px solid black;  
  }